{% extends 'user_dashboard_app/base.html' %}
{% block title%} What's Up {% endblock %}
{% block body %}
  {% if not request.session.user %}
    <div class="alert alert-warning">
      <p>Please sign in to see your appointments <a href="/" class="btn btn-primary"> Sign-in or Register</a></p>
    </div>
  {% else %}
    <h2>Hello: {{ request.session.user.name }} !</h2>
    <div class="row">
        <h5>Here are your appointments for Today, {% now "m-d-Y" %} </h5>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Tasks</th>
              <th>Time</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {%for appointment in appointments_today %}
            <tr>
              <td><span>{{ appointment.task_name }}</span></td>
              <td><span>{{ appointment.Time }}</span></td>
              <td><span>{{ appointment.status }}</span></td>
              <td>
                {% if not appointment.status == "Done" %} 
                    <span><a href="{% url 'edit_appointment' id=appointment.id%}">Edit</a> |  <a class="delete-btn" href="">Delete</a></span>
                {% endif %}

              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
    <div class="row">
    <hr>
      <div class="col-md-8">
        <h5>Your other appointments: </h5>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Tasks</th>
              <th>Date</th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody>
            {%for appointment in future_appointments %}
            <tr>
              <td><span>{{ appointment.task_name }}</span></td>
              <td><span>{{ appointment.date }}</span></td>
              <td><span>{{ appointment.Time }}</span></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
    <div class="row">
      <hr>
      <div class="row">
        {% if messages %}
        {% for message in messages %}
          <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
      </div>
      <div class="col-md-6">
        <h5>Add Appointment</h5>
        <form class="" action="{% url 'add_appointment' %}" method="post">
          {% csrf_token %}
          <div class="form-group ">
            <label for="Date">Date:</label>
            <input type="text" class="form-control datepicker" name="date" value="">
          </div>
          <div class="input-group clockpicker">
              <input type="text" class="form-control" name="time" value="09:30">
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-time"></span>
              </span>
          </div>
          <div class="form-group">
            <label for="task">Task: </label>
            <input type="text" class="form-control" name="task" value="">
          </div>
          <button type="submit" name="button" class="btn btn-primary">Add</button>
        </form>
      </div>

    </div>

  {% endif %}

{% endblock %}
